@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face{
    font-family: 'SFPro';
    src: url('/public/fonts/SF-Pro.ttf');
} */

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html {
  scroll-behavior: smooth;
}

.inactive {
  color: #8598BC;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', system-ui, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }